<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>Send us some new facts!</h1>
    <form action="/submit" method="post">
      <label for="name">Name:</label><br />
      <input type="text" id="name" name="name" required /><br /><br />

      <label for="fun_fact">Fun Fact:</label><br />
      <textarea
        id="fun_fact"
        name="fun_fact"
        rows="4"
        cols="50"
        required
      ></textarea
      ><br /><br />

      <input type="submit" value="Submit" />
    </form>
  </body>
</html>
